<div class="main-direct-div">
  <section class="main-direct-section">
    <div class="left-div">
      <div class="div-msg-head">
        <div></div>
        <div class="div-center-name">
          <button class="profile-button">
            <div class="profile-button-inner-div">
              <div style="font-weight: 600; font-size: 16px; line-height: 24px">
                _.moh.it._
              </div>
              <div>
                <span style="display: inline-block; transform: rotate(180deg)"
                  ><svg
                    aria-label="Down Chevron Icon"
                    class="_8-yf5"
                    fill="#262626"
                    height="20"
                    viewBox="0 0 48 48"
                    width="20"
                  >
                    <path
                      d="M40 33.5c-.4 0-.8-.1-1.1-.4L24 18.1l-14.9 15c-.6.6-1.5.6-2.1 0s-.6-1.5 0-2.1l16-16c.6-.6 1.5-.6 2.1 0l16 16c.6.6.6 1.5 0 2.1-.3.3-.7.4-1.1.4z"
                    ></path>
                  </svg>
                </span>
              </div>
            </div>
          </button>
        </div>
        <div class="div-new-chat">
          <svg
            aria-label="New Message"
            class="_8-yf5"
            fill="#262626"
            height="24"
            viewBox="0 0 44 44"
            width="24"
          >
            <path
              d="M33.7 44.12H8.5a8.41 8.41 0 01-8.5-8.5v-25.2a8.41 8.41 0 018.5-8.5H23a1.5 1.5 0 010 3H8.5a5.45 5.45 0 00-5.5 5.5v25.2a5.45 5.45 0 005.5 5.5h25.2a5.45 5.45 0 005.5-5.5v-14.5a1.5 1.5 0 013 0v14.5a8.41 8.41 0 01-8.5 8.5z"
            ></path>
            <path
              d="M17.5 34.82h-6.7a1.5 1.5 0 01-1.5-1.5v-6.7a1.5 1.5 0 01.44-1.06L34.1 1.26a4.45 4.45 0 016.22 0l2.5 2.5a4.45 4.45 0 010 6.22l-24.3 24.4a1.5 1.5 0 01-1.02.44zm-5.2-3h4.58l23.86-24a1.45 1.45 0 000-2l-2.5-2.5a1.45 1.45 0 00-2 0l-24 23.86z"
            ></path>
            <path
              d="M38.2 14.02a1.51 1.51 0 01-1.1-.44l-6.56-6.56a1.5 1.5 0 012.12-2.12l6.6 6.6a1.49 1.49 0 010 2.12 1.51 1.51 0 01-1.06.4z"
            ></path>
          </svg>
        </div>
      </div>
      <div class="main-div-chatlist">
        <div class="inner-div-chatlist">
          <div class="div-list-main">
            <a href="" class="a-list-main">
              <div class="div-list-element">
                <span class="span-element-img">
                  <img
                    class="img-dp-chat"
                    src="https://z-p4-instagram.fcgk3-1.fna.fbcdn.net/v/t51.2885-19/44884218_345707102882519_2446069589734326272_n.jpg?_nc_ad=z-m&_nc_ht=z-p4-instagram.fcgk3-1.fna.fbcdn.net&_nc_cat=1&_nc_ohc=FVs3uA5OC6QAX_lX4tp&edm=ACkAUu0BAAAA&ccb=7-4&oh=e814e82222a280c00051429397debb46&oe=60A3884F&_nc_sid=f826bd&ig_cache_key=YW5vbnltb3VzX3Byb2ZpbGVfcGlj.2-ccb7-4"
                    alt=""
                  />
                </span>
                <div class="div-element-main-name">
                  <div class="div-element-username">dubey_amit.1920</div>
                  <div class="div-element-msg">
                    <span class="msg-span-text">Sent you a message</span>
                    <span class="msg-span-text" style="padding: 0px 4px">·</span>
                    <span class="msg-span-text">11h</span>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="right-div">
        <span aria-label="Direct" class="glyphsSpriteDirect__outline__96 u-__7"></span>
        <div class="div-text1">Your Messages</div>
        <div class="div-text2">Send private photos and messages to a friend or group.</div>
        <div class="div-main-btn"><button class="btn-send-msg">Send Message</button></div>
    </div>
  </section>
</div>
