<section class="_1SP8R C3uDN j9XKR">
  <div class="leftDiv">
    <div class="story-parent-div">
      <div class="story-inner-div">
        <div class="story-final-div">
          <ul class="storylist">
            <li class="storyelement" style="transform: translateX(10px)">
              <div class="story-div">
                <button class="storyBtn">
                  <div class="story-circle">
                    <span style="width: 50px; height: 50px" class="img-span">
                      <img
                        class="img-story"
                        src="https://instagram.fstv2-1.fna.fbcdn.net/v/t51.2885-19/s150x150/161269874_270678994512630_8250114970047373287_n.jpg?tp=1&_nc_ht=instagram.fstv2-1.fna.fbcdn.net&_nc_ohc=doBjcVjlO94AX_kfYyM&edm=ANmP7GQAAAAA&ccb=7-4&oh=c274f52802a91e30bce656494ad86e69&oe=6099AB10&_nc_sid=276363"
                        alt=""
                      />
                    </span>
                  </div>
                  <div class="story-name">nora.fatehi</div>
                </button>
              </div>
            </li>
            <li class="storyelement" style="transform: translateX(90px)">
              <div class="story-div">
                <button class="storyBtn">
                  <div class="story-circle">
                    <span style="width: 50px; height: 50px" class="img-span">
                      <img
                        class="img-story"
                        src="https://instagram.fstv2-1.fna.fbcdn.net/v/t51.2885-19/s150x150/161269874_270678994512630_8250114970047373287_n.jpg?tp=1&_nc_ht=instagram.fstv2-1.fna.fbcdn.net&_nc_ohc=doBjcVjlO94AX_kfYyM&edm=ANmP7GQAAAAA&ccb=7-4&oh=c274f52802a91e30bce656494ad86e69&oe=6099AB10&_nc_sid=276363"
                        alt=""
                      />
                    </span>
                  </div>
                  <div class="story-name">nora.fatehi</div>
                </button>
              </div>
            </li>
            <li class="storyelement" style="transform: translateX(170px)">
              <div class="story-div">
                <button class="storyBtn">
                  <div class="story-circle">
                    <span style="width: 50px; height: 50px" class="img-span">
                      <img
                        class="img-story"
                        src="https://instagram.fstv2-1.fna.fbcdn.net/v/t51.2885-19/s150x150/161269874_270678994512630_8250114970047373287_n.jpg?tp=1&_nc_ht=instagram.fstv2-1.fna.fbcdn.net&_nc_ohc=doBjcVjlO94AX_kfYyM&edm=ANmP7GQAAAAA&ccb=7-4&oh=c274f52802a91e30bce656494ad86e69&oe=6099AB10&_nc_sid=276363"
                        alt=""
                      />
                    </span>
                  </div>
                  <div class="story-name">nora.fatehi</div>
                </button>
              </div>
            </li>
            <li class="storyelement" style="transform: translateX(250px)">
              <div class="story-div">
                <button class="storyBtn">
                  <div class="story-circle">
                    <span style="width: 50px; height: 50px" class="img-span">
                      <img
                        class="img-story"
                        src="https://instagram.fstv2-1.fna.fbcdn.net/v/t51.2885-19/s150x150/161269874_270678994512630_8250114970047373287_n.jpg?tp=1&_nc_ht=instagram.fstv2-1.fna.fbcdn.net&_nc_ohc=doBjcVjlO94AX_kfYyM&edm=ANmP7GQAAAAA&ccb=7-4&oh=c274f52802a91e30bce656494ad86e69&oe=6099AB10&_nc_sid=276363"
                        alt=""
                      />
                    </span>
                  </div>
                  <div class="story-name">nora.fatehi</div>
                </button>
              </div>
            </li>
            <li class="storyelement" style="transform: translateX(330px)">
              <div class="story-div">
                <button class="storyBtn">
                  <div class="story-circle">
                    <span style="width: 50px; height: 50px" class="img-span">
                      <img
                        class="img-story"
                        src="https://instagram.fstv2-1.fna.fbcdn.net/v/t51.2885-19/s150x150/161269874_270678994512630_8250114970047373287_n.jpg?tp=1&_nc_ht=instagram.fstv2-1.fna.fbcdn.net&_nc_ohc=doBjcVjlO94AX_kfYyM&edm=ANmP7GQAAAAA&ccb=7-4&oh=c274f52802a91e30bce656494ad86e69&oe=6099AB10&_nc_sid=276363"
                        alt=""
                      />
                    </span>
                  </div>
                  <div class="story-name">nora.fatehi</div>
                </button>
              </div>
            </li>
            <li class="storyelement" style="transform: translateX(410px)">
              <div class="story-div">
                <button class="storyBtn">
                  <div class="story-circle">
                    <span style="width: 50px; height: 50px" class="img-span">
                      <img
                        class="img-story"
                        src="https://instagram.fstv2-1.fna.fbcdn.net/v/t51.2885-19/s150x150/161269874_270678994512630_8250114970047373287_n.jpg?tp=1&_nc_ht=instagram.fstv2-1.fna.fbcdn.net&_nc_ohc=doBjcVjlO94AX_kfYyM&edm=ANmP7GQAAAAA&ccb=7-4&oh=c274f52802a91e30bce656494ad86e69&oe=6099AB10&_nc_sid=276363"
                        alt=""
                      />
                    </span>
                  </div>
                  <div class="story-name">nora.fatehi</div>
                </button>
              </div>
            </li>
            <li class="storyelement" style="transform: translateX(490px)">
              <div class="story-div">
                <button class="storyBtn">
                  <div class="story-circle">
                    <span style="width: 50px; height: 50px" class="img-span">
                      <img
                        class="img-story"
                        src="https://instagram.fstv2-1.fna.fbcdn.net/v/t51.2885-19/s150x150/161269874_270678994512630_8250114970047373287_n.jpg?tp=1&_nc_ht=instagram.fstv2-1.fna.fbcdn.net&_nc_ohc=doBjcVjlO94AX_kfYyM&edm=ANmP7GQAAAAA&ccb=7-4&oh=c274f52802a91e30bce656494ad86e69&oe=6099AB10&_nc_sid=276363"
                        alt=""
                      />
                    </span>
                  </div>
                  <div class="story-name">nora.fatehi</div>
                </button>
              </div>
            </li>
            <li class="storyelement" style="transform: translateX(570px)">
              <div class="story-div">
                <button class="storyBtn">
                  <div class="story-circle">
                    <span style="width: 50px; height: 50px" class="img-span">
                      <img
                        class="img-story"
                        src="https://instagram.fstv2-1.fna.fbcdn.net/v/t51.2885-19/s150x150/161269874_270678994512630_8250114970047373287_n.jpg?tp=1&_nc_ht=instagram.fstv2-1.fna.fbcdn.net&_nc_ohc=doBjcVjlO94AX_kfYyM&edm=ANmP7GQAAAAA&ccb=7-4&oh=c274f52802a91e30bce656494ad86e69&oe=6099AB10&_nc_sid=276363"
                        alt=""
                      />
                    </span>
                  </div>
                  <div class="story-name">nora.fatehi</div>
                </button>
              </div>
            </li>
          </ul>
        </div>
        <button class="btn-next">
          <div class="div-next"></div>
        </button>
      </div>
    </div>
    <div class="post-parent-div">
      <article class="post-article">
        <header class="story-header">
          <div class="post-logo-div">
            <span class="post-logo-span">
              <img
                class="img-post-logo"
                src="https://instagram.fstv6-1.fna.fbcdn.net/v/t51.2885-19/s150x150/31694931_237064253511398_2211767497261056000_n.jpg?tp=1&_nc_ht=instagram.fstv6-1.fna.fbcdn.net&_nc_ohc=o3yXz6UHAJkAX890puL&edm=AAeKFY8AAAAA&ccb=7-4&oh=f22cb0ee688262db1cdd397de41d475a&oe=609AE911&_nc_sid=c982ba"
                alt=""
              />
            </span>
          </div>
          <div class="post-name-div">
            <div class="post-name-inner-div">
              <span class="post-name-span">
                <a href="" class="a-post-name">error69</a>
              </span>
            </div>
            <div class="post-name-verified-div"></div>
          </div>
          <div class="dot-div">
            <button class="btn-dot-div">
              <svg
                aria-label="More options"
                class="_8-yf5"
                fill="#262626"
                height="16"
                viewBox="0 0 48 48"
                width="16"
              >
                <circle
                  clip-rule="evenodd"
                  cx="8"
                  cy="24"
                  fill-rule="evenodd"
                  r="4.5"
                ></circle>
                <circle
                  clip-rule="evenodd"
                  cx="24"
                  cy="24"
                  fill-rule="evenodd"
                  r="4.5"
                ></circle>
                <circle
                  clip-rule="evenodd"
                  cx="40"
                  cy="24"
                  fill-rule="evenodd"
                  r="4.5"
                ></circle>
              </svg>
            </button>
          </div>
        </header>
        <div class="post-content-div">
          <div class="post-inner-content-div">
            <img
              alt="Photo shared by Memes Lover ❤️ on April 11, 2021 tagging @filmygags. May be a meme of text that says '*When My Favourite Person Shouts Me* *Me Be *.: Like: f FilmyGags'."
              class="post-content-img"
              crossorigin="anonymous"
              decoding="auto"
              sizes="614px"
              srcset="
                https://instagram.fstv6-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/p640x640/171804580_783745562559978_6659855551776186570_n.jpg?tp=1&amp;_nc_ht=instagram.fstv6-1.fna.fbcdn.net&amp;_nc_cat=1&amp;_nc_ohc=KGMMnuKqdf0AX_BWN_F&amp;edm=AIQHJ4wAAAAA&amp;ccb=7-4&amp;oh=e21e95eb59314530d19cd5f0a3e8305d&amp;oe=6098574A&amp;_nc_sid=7b02f1  640w,
                https://instagram.fstv6-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/p750x750/171804580_783745562559978_6659855551776186570_n.jpg?tp=1&amp;_nc_ht=instagram.fstv6-1.fna.fbcdn.net&amp;_nc_cat=1&amp;_nc_ohc=KGMMnuKqdf0AX_BWN_F&amp;edm=AIQHJ4wAAAAA&amp;ccb=7-4&amp;oh=64001e18635358082fbec4ee89b8e490&amp;oe=6098E00E&amp;_nc_sid=7b02f1  750w,
                https://instagram.fstv6-1.fna.fbcdn.net/v/t51.2885-15/e35/171804580_783745562559978_6659855551776186570_n.jpg?tp=1&amp;_nc_ht=instagram.fstv6-1.fna.fbcdn.net&amp;_nc_cat=1&amp;_nc_ohc=KGMMnuKqdf0AX_BWN_F&amp;edm=AIQHJ4wAAAAA&amp;ccb=7-4&amp;oh=f725ccd1391107d63182e8cf990e4c42&amp;oe=6099BAE4&amp;_nc_sid=7b02f1                 1080w
              "
              src="https://instagram.fstv6-1.fna.fbcdn.net/v/t51.2885-15/e35/171804580_783745562559978_6659855551776186570_n.jpg?tp=1&amp;_nc_ht=instagram.fstv6-1.fna.fbcdn.net&amp;_nc_cat=1&amp;_nc_ohc=KGMMnuKqdf0AX_BWN_F&amp;edm=AIQHJ4wAAAAA&amp;ccb=7-4&amp;oh=f725ccd1391107d63182e8cf990e4c42&amp;oe=6099BAE4&amp;_nc_sid=7b02f1"
              style="object-fit: cover"
            />
          </div>
        </div>
        <div class="post-bottom-div">
          <section class="like-section">
            <span class="like-span">
              <button class="btn-likesharecommansave">
                <div class="like-div">
                  <svg
                    aria-label="Like"
                    class="_8-yf5"
                    fill="#262626"
                    height="24"
                    viewBox="0 0 48 48"
                    width="24"
                  >
                    <path
                      d="M34.6 6.1c5.7 0 10.4 5.2 10.4 11.5 0 6.8-5.9 11-11.5 16S25 41.3 24 41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3 11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3 1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9 1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"
                    ></path>
                  </svg>
                </div>
              </button>
            </span>
            <span class="commant-span">
              <button class="btn-likesharecommansave">
                <div class="commant-div">
                  <svg
                    aria-label="Comment"
                    class="_8-yf5"
                    fill="#262626"
                    height="24"
                    viewBox="0 0 48 48"
                    width="24"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M47.5 46.1l-2.8-11c1.8-3.3 2.8-7.1 2.8-11.1C47.5 11 37 .5 24 .5S.5 11 .5 24 11 47.5 24 47.5c4 0 7.8-1 11.1-2.8l11 2.8c.8.2 1.6-.6 1.4-1.4zm-3-22.1c0 4-1 7-2.6 10-.2.4-.3.9-.2 1.4l2.1 8.4-8.3-2.1c-.5-.1-1-.1-1.4.2-1.8 1-5.2 2.6-10 2.6-11.4 0-20.6-9.2-20.6-20.5S12.7 3.5 24 3.5 44.5 12.7 44.5 24z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                </div>
              </button>
            </span>
            <span class="share-span">
              <button class="btn-likesharecommansave">
                <div class="share-div">
                  <svg
                    aria-label="Share Post"
                    class="_8-yf5"
                    fill="#262626"
                    height="24"
                    viewBox="0 0 48 48"
                    width="24"
                  >
                    <path
                      d="M47.8 3.8c-.3-.5-.8-.8-1.3-.8h-45C.9 3.1.3 3.5.1 4S0 5.2.4 5.7l15.9 15.6 5.5 22.6c.1.6.6 1 1.2 1.1h.2c.5 0 1-.3 1.3-.7l23.2-39c.4-.4.4-1 .1-1.5zM5.2 6.1h35.5L18 18.7 5.2 6.1zm18.7 33.6l-4.4-18.4L42.4 8.6 23.9 39.7z"
                    ></path>
                  </svg>
                </div>
              </button>
            </span>
            <span class="save-span">
              <button class="btn-likesharecommansave">
                <div class="share-div">
                  <svg
                    aria-label="Save"
                    class="_8-yf5"
                    fill="#262626"
                    height="24"
                    viewBox="0 0 48 48"
                    width="24"
                  >
                    <path
                      d="M43.5 48c-.4 0-.8-.2-1.1-.4L24 29 5.6 47.6c-.4.4-1.1.6-1.6.3-.6-.2-1-.8-1-1.4v-45C3 .7 3.7 0 4.5 0h39c.8 0 1.5.7 1.5 1.5v45c0 .6-.4 1.2-.9 1.4-.2.1-.4.1-.6.1zM24 26c.8 0 1.6.3 2.2.9l15.8 16V3H6v39.9l15.8-16c.6-.6 1.4-.9 2.2-.9z"
                    ></path>
                  </svg>
                </div>
              </button>
            </span>
          </section>
          <section class="like-list-section">
            <div class="like-row">
              <a href="" class="likes-a">5,063 likes</a>
            </div>
          </section>
          <section class="like-list-section">
            <div class="like-row">
              <a href="" class="commants-a">View all 40 comments</a>
            </div>
          </section>
          <section class="like-list-section">
            <div class="like-row">
              <a href="" class="commants-a" style="font-size: 10px"
                >4 hours ago</a
              >
            </div>
          </section>
          <section class="comment-section">
            <div class="comment-div">
              <form action="" class="comment-form">
                <button class="emoji-button">
                  <svg
                    aria-label="Emoji"
                    class="_8-yf5"
                    fill="#262626"
                    height="24"
                    viewBox="0 0 48 48"
                    width="24"
                  >
                    <path
                      d="M24 48C10.8 48 0 37.2 0 24S10.8 0 24 0s24 10.8 24 24-10.8 24-24 24zm0-45C12.4 3 3 12.4 3 24s9.4 21 21 21 21-9.4 21-21S35.6 3 24 3z"
                    ></path>
                    <path
                      d="M34.9 24c0-1.4-1.1-2.5-2.5-2.5s-2.5 1.1-2.5 2.5 1.1 2.5 2.5 2.5 2.5-1.1 2.5-2.5zm-21.8 0c0-1.4 1.1-2.5 2.5-2.5s2.5 1.1 2.5 2.5-1.1 2.5-2.5 2.5-2.5-1.1-2.5-2.5zM24 37.3c-5.2 0-8-3.5-8.2-3.7-.5-.6-.4-1.6.2-2.1.6-.5 1.6-.4 2.1.2.1.1 2.1 2.5 5.8 2.5 3.7 0 5.8-2.5 5.8-2.5.5-.6 1.5-.7 2.1-.2.6.5.7 1.5.2 2.1 0 .2-2.8 3.7-8 3.7z"
                    ></path>
                  </svg>
                </button>
                <textarea
                  name=""
                  id=""
                  class="comment-textarea"
                  aria-label="Add a comment..."
                  placeholder="Add a comment..."
                ></textarea>
                <button class="post-button" type="submit">Post</button>
              </form>
            </div>
          </section>
        </div>
      </article>

      <article class="post-article">
        <header class="story-header">
          <div class="post-logo-div">
            <span class="post-logo-span">
              <img
                class="img-post-logo"
                src="https://instagram.fstv6-1.fna.fbcdn.net/v/t51.2885-19/s150x150/31694931_237064253511398_2211767497261056000_n.jpg?tp=1&_nc_ht=instagram.fstv6-1.fna.fbcdn.net&_nc_ohc=o3yXz6UHAJkAX890puL&edm=AAeKFY8AAAAA&ccb=7-4&oh=f22cb0ee688262db1cdd397de41d475a&oe=609AE911&_nc_sid=c982ba"
                alt=""
              />
            </span>
          </div>
          <div class="post-name-div">
            <div class="post-name-inner-div">
              <span class="post-name-span">
                <a href="" class="a-post-name">error69</a>
              </span>
            </div>
            <div class="post-name-verified-div"></div>
          </div>
          <div class="dot-div">
            <button class="btn-dot-div">
              <svg
                aria-label="More options"
                class="_8-yf5"
                fill="#262626"
                height="16"
                viewBox="0 0 48 48"
                width="16"
              >
                <circle
                  clip-rule="evenodd"
                  cx="8"
                  cy="24"
                  fill-rule="evenodd"
                  r="4.5"
                ></circle>
                <circle
                  clip-rule="evenodd"
                  cx="24"
                  cy="24"
                  fill-rule="evenodd"
                  r="4.5"
                ></circle>
                <circle
                  clip-rule="evenodd"
                  cx="40"
                  cy="24"
                  fill-rule="evenodd"
                  r="4.5"
                ></circle>
              </svg>
            </button>
          </div>
        </header>
        <div class="post-content-div">
          <div class="post-inner-content-div">
            <img
              alt="Photo shared by Memes Lover ❤️ on April 11, 2021 tagging @filmygags. May be a meme of text that says '*When My Favourite Person Shouts Me* *Me Be *.: Like: f FilmyGags'."
              class="post-content-img"
              crossorigin="anonymous"
              decoding="auto"
              sizes="614px"
              src="https://instagram.fstv2-1.fna.fbcdn.net/v/t51.2885-15/e35/s1080x1080/176518605_499424541418052_4136261571149312507_n.jpg?tp=1&_nc_ht=instagram.fstv2-1.fna.fbcdn.net&_nc_cat=108&_nc_ohc=5R731TYXg0cAX_irFk0&edm=AIQHJ4wAAAAA&ccb=7-4&oh=d76413870c082b0618fb7d8798e5b9f7&oe=60A52872&_nc_sid=7b02f1"
              style="object-fit: cover"
            />
          </div>
        </div>
        <div class="post-bottom-div">
          <section class="like-section">
            <span class="like-span">
              <button class="btn-likesharecommansave">
                <div class="like-div">
                  <svg
                    aria-label="Like"
                    class="_8-yf5"
                    fill="#262626"
                    height="24"
                    viewBox="0 0 48 48"
                    width="24"
                  >
                    <path
                      d="M34.6 6.1c5.7 0 10.4 5.2 10.4 11.5 0 6.8-5.9 11-11.5 16S25 41.3 24 41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3 11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3 1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9 1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"
                    ></path>
                  </svg>
                </div>
              </button>
            </span>
            <span class="commant-span">
              <button class="btn-likesharecommansave">
                <div class="commant-div">
                  <svg
                    aria-label="Comment"
                    class="_8-yf5"
                    fill="#262626"
                    height="24"
                    viewBox="0 0 48 48"
                    width="24"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M47.5 46.1l-2.8-11c1.8-3.3 2.8-7.1 2.8-11.1C47.5 11 37 .5 24 .5S.5 11 .5 24 11 47.5 24 47.5c4 0 7.8-1 11.1-2.8l11 2.8c.8.2 1.6-.6 1.4-1.4zm-3-22.1c0 4-1 7-2.6 10-.2.4-.3.9-.2 1.4l2.1 8.4-8.3-2.1c-.5-.1-1-.1-1.4.2-1.8 1-5.2 2.6-10 2.6-11.4 0-20.6-9.2-20.6-20.5S12.7 3.5 24 3.5 44.5 12.7 44.5 24z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                </div>
              </button>
            </span>
            <span class="share-span">
              <button class="btn-likesharecommansave">
                <div class="share-div">
                  <svg
                    aria-label="Share Post"
                    class="_8-yf5"
                    fill="#262626"
                    height="24"
                    viewBox="0 0 48 48"
                    width="24"
                  >
                    <path
                      d="M47.8 3.8c-.3-.5-.8-.8-1.3-.8h-45C.9 3.1.3 3.5.1 4S0 5.2.4 5.7l15.9 15.6 5.5 22.6c.1.6.6 1 1.2 1.1h.2c.5 0 1-.3 1.3-.7l23.2-39c.4-.4.4-1 .1-1.5zM5.2 6.1h35.5L18 18.7 5.2 6.1zm18.7 33.6l-4.4-18.4L42.4 8.6 23.9 39.7z"
                    ></path>
                  </svg>
                </div>
              </button>
            </span>
            <span class="save-span">
              <button class="btn-likesharecommansave">
                <div class="share-div">
                  <svg
                    aria-label="Save"
                    class="_8-yf5"
                    fill="#262626"
                    height="24"
                    viewBox="0 0 48 48"
                    width="24"
                  >
                    <path
                      d="M43.5 48c-.4 0-.8-.2-1.1-.4L24 29 5.6 47.6c-.4.4-1.1.6-1.6.3-.6-.2-1-.8-1-1.4v-45C3 .7 3.7 0 4.5 0h39c.8 0 1.5.7 1.5 1.5v45c0 .6-.4 1.2-.9 1.4-.2.1-.4.1-.6.1zM24 26c.8 0 1.6.3 2.2.9l15.8 16V3H6v39.9l15.8-16c.6-.6 1.4-.9 2.2-.9z"
                    ></path>
                  </svg>
                </div>
              </button>
            </span>
          </section>
          <section class="like-list-section">
            <div class="like-row">
              <a href="" class="likes-a">5,063 likes</a>
            </div>
          </section>
          <section class="like-list-section">
            <div class="like-row">
              <a href="" class="commants-a">View all 40 comments</a>
            </div>
          </section>
          <section class="like-list-section">
            <div class="like-row">
              <a href="" class="commants-a" style="font-size: 10px"
                >4 hours ago</a
              >
            </div>
          </section>
          <section class="comment-section">
            <div class="comment-div">
              <form action="" class="comment-form">
                <button class="emoji-button">
                  <svg
                    aria-label="Emoji"
                    class="_8-yf5"
                    fill="#262626"
                    height="24"
                    viewBox="0 0 48 48"
                    width="24"
                  >
                    <path
                      d="M24 48C10.8 48 0 37.2 0 24S10.8 0 24 0s24 10.8 24 24-10.8 24-24 24zm0-45C12.4 3 3 12.4 3 24s9.4 21 21 21 21-9.4 21-21S35.6 3 24 3z"
                    ></path>
                    <path
                      d="M34.9 24c0-1.4-1.1-2.5-2.5-2.5s-2.5 1.1-2.5 2.5 1.1 2.5 2.5 2.5 2.5-1.1 2.5-2.5zm-21.8 0c0-1.4 1.1-2.5 2.5-2.5s2.5 1.1 2.5 2.5-1.1 2.5-2.5 2.5-2.5-1.1-2.5-2.5zM24 37.3c-5.2 0-8-3.5-8.2-3.7-.5-.6-.4-1.6.2-2.1.6-.5 1.6-.4 2.1.2.1.1 2.1 2.5 5.8 2.5 3.7 0 5.8-2.5 5.8-2.5.5-.6 1.5-.7 2.1-.2.6.5.7 1.5.2 2.1 0 .2-2.8 3.7-8 3.7z"
                    ></path>
                  </svg>
                </button>
                <textarea
                  name=""
                  id=""
                  class="comment-textarea"
                  aria-label="Add a comment..."
                  placeholder="Add a comment..."
                ></textarea>
                <button class="post-button" type="submit">Post</button>
              </form>
            </div>
          </section>
        </div>
      </article>
    </div>
  </div>
  <div class="rightDiv">
    <div class="div-myprofile">
      <div class="inner-div-myprofile">
        <div class="div-dp">
          <a href="">
            <img
            class="img-mydp"
              src="https://instagram.fstv2-1.fna.fbcdn.net/v/t51.2885-19/s150x150/158845151_1131714120599766_6782031994036633652_n.jpg?tp=1&_nc_ht=instagram.fstv2-1.fna.fbcdn.net&_nc_ohc=E09xu926PBwAX9tY3UQ&edm=AIQHJ4wAAAAA&ccb=7-4&oh=6a3a075cf3dc1ad669454804c55b4d60&oe=60977B47&_nc_sid=7b02f1"
              alt=""
            />
          </a>
        </div>
        <div class="div-mydetail">
          <div class="div-myusername">
            <a href="" class="a-myusername">_.moh.it._</a>
          </div>
          <div class="div-myname">Mohit Sojitra</div>
        </div>
        <button class="post-button" type="button" style="font-size: 12px;">Switch</button>
      </div>
    </div>
    <div class="div-suggestion">
      <div class="suggestion-text">
        <span class="span-text">Suggestions For You</span>
        <a href="" class="a-textall">See All</a>
      </div>
      <div class="div-sugProfile">
        <img src="https://instagram.fstv2-1.fna.fbcdn.net/v/t51.2885-19/s150x150/122512483_685416225717540_2338037077320913009_n.jpg?tp=1&_nc_ht=instagram.fstv2-1.fna.fbcdn.net&_nc_ohc=zet5q3dKpy8AX8RCJG2&edm=AEF8tYYAAAAA&ccb=7-4&oh=db62df800c34d8cf5aecb3339aecf7f1&oe=609A2F4B&_nc_sid=a9513d" alt="" class="img-post-logo">
        <div class="div-mydetail">
          <div class="div-myusername">
            <a href="" class="a-myusername" style="font-size: 12px;">__fantastic__boy__jp__</a>
          </div>
          <div class="div-myname" style="font-size: 12px;">Followed by b__m__p_ + 26 more
            </div>
        </div>
        <button class="post-button" style="font-size: 12px;">Follow</button>
      </div>
    </div>
  </div>
</section>
